# Day 9: Python Dictionary -Deep Dive

In [ ]:
programming_dictionary = {
    "Bug": "An erro in a program tha prevent the program from running as expected.",
    "Function": "A piece of code that you can easily call over and over again."
}

In [ ]:
# Retrievinf items from a dictionary:
print( programming_dictionary["Function"] )

In [ ]:
# Adding new items to dictionary:
programming_dictionary[ "Loop" ] = "The action of doing something over and over again."

In [ ]:
programming_dictionary

In [ ]:
# Create an empty dictionary.
empty_dictionary = {}

In [ ]:
# Wipe an existing dictionary:
programming_dictionary = {}
programming_dictionary

In [ ]:
# Edit an item in a dictionary:
programming_dictionary[ "Bug" ] = "A moth in your computer."
programming_dictionary

In [ ]:
# Loop through a dictionary:
for key in programming_dictionary:
    print( key )
    print( programming_dictionary[ key ] )

### Nesting:

In [ ]:
capitals = {
    "France": "Paris",
    "German": "Berlin",
}

# Nesting a List in a Dictionary:

travel_log = {
    "France": [ "Paris", "Lille", "Dijon" ],
    "Germany": [ "Berlin", "Hamburg", "Stuttgart" ],
}

In [ ]:
# Nesting a dictionary into a dictionary:

travel_log = {
    "France": {
        "city_name": [ "Paris", "Lille", "Dijon" ],
        "cities_visited": 3
    },
    "German": {
        "city_name": [ "Berlin", "Hamburg", "Stuttgart" ],
        "cities_visited": 3
    }
}

### Nesting a Dictionary in a List

In [ ]:
travel_log = [
    {
        "country": "France",
        "cities_visited": [ "Paris", "Lille", "Dijon" ],
        "total_visits": 12
    },
    {
        "country": "German",
        "city_name": [ "Berlin", "Hamburg", "Stuttgart" ],
        "cities_visited": 5
    }
]

#### Testing cases for exercises:

In [ ]:
dict = {
    "a": 1,
    "b": 2,
    "c": 3,
}
dict

In [ ]:
dict[ 1 ] = 4

In [ ]:
dict

In [ ]:
print( dict[1] )

# Day 10 - Functions with Outpus

In [ ]:
# Functions with Outputs

def format_name( f_name, l_name ):
    f_name = f_name.title()
    l_name = l_name.title()

    print( f_name, l_name )

format_name( "VICTOR", 'victor' )

In [ ]:
# Using return instead of print:

def format_name( f_name, l_name ):
    formated_f_name = f_name.title()
    formated_l_name = l_name.title()

    return f"{formated_f_name} {formated_l_name}"

formated_string = format_name( "VICTOR", 'victor' )
print( formated_string )

In [ ]:
# ...or

print( format_name( "ArTHUr", "LADEIa") )

In [ ]:
# the keyword return tells the computer to get out of the function:

def format_name( f_name, l_name ):
    if ( f_name == "" ) or ( l_name == "" ):
        return
    formated_f_name = f_name.title()
    formated_l_name = l_name.title()

    return f"Result: {formated_f_name} {formated_l_name}"


print( format_name( input( "What's your first name? "), input( "What's your last name" ) ) )

In [ ]:
# the keyword return tells the computer to get out of the function:

def format_name( f_name, l_name ):
    if ( f_name == "" ) or ( l_name == "" ):
        return "You didn't provide valid inputs."
    formated_f_name = f_name.title()
    formated_l_name = l_name.title()

    return f"Result: {formated_f_name} {formated_l_name}"


print( format_name( input( "What's your first name? "), input( "What's your last name" ) ) )

### Docstrings

In [ ]:
def format_name( f_name, l_name ):
    """Take a first and last name and format it to return the title case version of the name."""
    if ( f_name == "" ) or ( l_name == "" ):
        return "You didn't provide valid inputs."
    formated_f_name = f_name.title()
    formated_l_name = l_name.title()

    return f"Result: {formated_f_name} {formated_l_name}"

# Day 12 - Local vs. Global Scope

In [ ]:
################ SCOPE ####################

enemies = 1

def increase_enemies():
    enemies = 2
    print( f"enemies inside function: {enemies}" )

increase_enemies()
print( f"enemies outside function: {enemies}" )

In [ ]:
# Local Scope

def drink_potion():
    potion_strength = 2
    print( potion_strength )

drink_potion()
print(potion_strength) # error - potion_strength was only defined on drink_potion() scope.

In [ ]:
# Global Scope:

player_health = 10

def drink_potion():
    potion_strength = 2
    print( player_health )

drink_potion()

In [ ]:
# There is no block scope:

game_level = 3
enemies = [ "Skeleton", "Zombie", "Alien"]
if game_level < 5 :
    new_enemy = enemies[0]
print( new_enemy )

In [ ]:
# There is no block scope:

game_level = 3
def create_enemy():
    enemies = [ "Skeleton", "Zombie", "Alien"]
    if game_level < 5 :
        new_enemy1 = enemies[0]

print( new_enemy1 )

## How to modify a Global Variable

In [ ]:
# Modifying Global Scope

enemies = 1

def increase_enemies():
    global enemies
    enemies += 1
    print( f"enemies inside function: {enemies}" )

increase_enemies()
print( f"enemies outside funtion: {enemies}" )

In [ ]:
# Modifying Global Scope

enemies = 1

def increase_enemies():
    print( f"enemies inside function: {enemies}" )
    return enemies + 1

enemies = increase_enemies()
print( f"enemies outside funtion: {enemies}" )

## Global Constants:

In [ ]:
# Python convention for these constants is capital letters

PI = 3.14159
URL = "https://www.google.com"

# Day 13 - Debugging

1. Describe the Problem
2. Reproduce the Bug
3. Play Computer
4. Fix the Errors
5. Print is your Friend
6. Use a Debugger
7. Take a break
8. Ask a Friend
9. Run Often
10. Ask StackOverflow

## 1 - Describe the Problem

In [ ]:
# Describe the problem:

# with bug

def my_function():
    for i in range( 1, 20 ):
        if i == 20:
            print( "You got it!" )
my_function()

In [ ]:
# without bug:
def my_function():
    for i in range( 1, 21 ):
        if i == 20:
            print( "You got it!" )

my_function()

## 2 - Reproduce the bug

In [ ]:
# Reproduce the bug

from random import randint

dice_imgs = ["❶", "❷", "❸", "❹", "❺", "❻"]
dice_num = randint = randint(1, 6)
print(dice_imgs[dice_num])

In [ ]:
# Reproducing...

from random import randint

dice_imgs = ["❶", "❷", "❸", "❹", "❺", "❻"]
dice_num = randint = 6
print(dice_imgs[dice_num])

In [ ]:
# Fixing...

from random import randint

dice_imgs = ["❶", "❷", "❸", "❹", "❺", "❻"]
dice_num = randint = randint( 0, 5 )
print(dice_imgs[dice_num])

## 3 - Play Computer

In [ ]:
# Play Computer:

year = int( input( "What's your year of birthday? " ) )
if year > 1980 and year < 1994:
    print( "You are a millenial." )
elif year > 1994:
    print( "You are a Gen Z" )

In [ ]:
# Fixing:

year = int( input( "What's your year of birthday? " ) )
if year > 1980 and year <= 1994:
    print( "You are a millenial." )
elif year > 1994:
    print( "You are a Gen Z" )

## 4 - Fix the Errors

In [ ]:
# Fix the Errors
age = input("How old are you?")
if age > 18:
print("You can drive at age {age}.")

In [ ]:
# Fix the Errors - first:
age = input("How old are you?")
if age > 18:
    print("You can drive at age {age}.")

In [ ]:
# Fix the Errors - second:
age = int( input("How old are you?") )
if age > 18:
    print("You can drive at age {age}.")

In [ ]:
# Fix the Errors - third:
age = int( input("How old are you?") )
if age > 18:
    print(f"You can drive at age {age}.")

## 5 - Print is your Friend

In [ ]:
#Print is Your Friend
pages = 0
word_per_page = 0
pages = int(input("Number of pages: "))
word_per_page == int(input("Number of words per page: "))
total_words = pages * word_per_page
print( f"pages = {pages}" )
print( f"word_per_page = {word_per_page}" )
print(total_words)

In [ ]:
#Print is Your Friend
pages = 0
word_per_page = 0
pages = int(input("Number of pages: "))
word_per_page = int(input("Number of words per page: "))
total_words = pages * word_per_page
print( f"pages = {pages}" )
print( f"word_per_page = {word_per_page}" )
print(total_words)

## 6 - Use a debugger:

In [ ]:
def mutate( a_list ):
    b_list = []
    for item in a_list:
        new_item = item * 2
    b_list.append( new_item )
    print( b_list )

mutate([1, 2, 3, 5, 8, 13])

In [ ]:
# Fixing:

def mutate( a_list ):
    b_list = []
    for item in a_list:
        new_item = item * 2
        b_list.append( new_item )
    print( b_list )

mutate([1, 2, 3, 5, 8, 13])

## Coding Exercises

# Day 14

In [ ]:
range

# Day 15 - Local Development Environment Setup & And the Coffee Machine

# Day 16 - Object Oriented Programming (OOP)

## Classes and Objects:

HAS vs DOES

In [ ]:
import turtle

timmy = turtle.Turtle()
print(timmy)

In [ ]:
from turtle import (Turtle
                    , Screen)

my_screen = Screen()
print(my_screen.canvheight)

In [ ]:
from turtle import (Turtle
                    , Screen)

my_screen = Screen()
print(my_screen.canvheight)
my_screen.exitonclick()

In [ ]:
import prettytable

# Day 17 - The Quiz Project and the Benefits of OOP

## How to create your own class on Python:

In [ ]:
class User:
    pass


user_1 = User()
user_1.id = "001"
user_1.username = "Angela"

print(user_1.username)

user_2 = User()
user_2.id = "002"
user_2.username = "jack"

## Pascal Case vs Camel Case vs Snake Case:

PascalCase | camelCase | snake_case

## Working with Attributes, Class Constructor and __init__():

In [ ]:
class User_1:
    
    def __init__(self) -> None:
        print("new user being created...")
    


user_1 = User()

The following code is equivalent with the one below it.

In [ ]:
class Car:
    def __init__(self, seats) -> None:
        self.seats = seats

my_car = Car(5)

In [ ]:
class Car:
    pass

my_car.seats = 5

In [ ]:
class User:

    def __init__(self, user_id, username): # when we create parameters inside __init__(), when we create a new object, we need to provide the parameter's values.
        self.id = user_id
        self.username = username

user_1 = User("001", "angela")
user_2 = User("002", "jack")
print(user_1.id)
print(user_1.username)

Some times we need to create attributes with a starting value:

In [ ]:
class User:

    def __init__(self, id, username):
        self.id = id
        self.username = username
        self.followers = 0
    

user_1 = User("003", "victor")

print(f"User {user_1.username}, id {user_1.id} has {user_1.followers} followers.")

In [ ]:
class User:

    def __init__(self, id, username):
        self.id = id
        self.username = username
        self.followers = 0
        self.following = 0
    

    def follow(self, user):
        user.followers += 1
        self.following += 1

    def see_following_info(self):
        print(f"The user {self.username} has {self.followers} followers and follows {self.following} other users.")ß

user_1 = User("003", "victor")
user_2 = User("002", "angela")

print(f"User {user_1.username}, id: {user_1.id} has {user_1.followers} followers")

user_1.follow(user_2)
user_1.see_following_info()
user_2.see_following_info()

# Day 18 - Turtle & The Graphical User Interface (GUI)

In [ ]:
from turtle import Turtle, Screen

timmy_the_turtle = Turtle()
timmy_the_turtle.shape("turtle")
timmy_the_turtle.color("red")
timmy_the_turtle.forward(100)







screen = Screen()
screen.exitonclick()

In [1]:
from turtle import Turtle, Screen

little_turtle = Turtle()

little_turtle.forward(100)
little_turtle.right(90)
little_turtle.forward(100)
little_turtle.right(90)
little_turtle.forward(100)
little_turtle.right(90)
little_turtle.forward(100)

screen = Screen()
screen.exitonclick()

:

:

## Importing Modules, Installing Packages, and Working with Aliases

In [ ]:
from turtle import Turtle

tim = Turtle()

In [2]:
from random import *

a = choice([1,2,3,4])
print(a)

3

In [ ]:
# Aliases

import turtle as t

tim = t.Turtle()

In [ ]:
import heroes

print(heroes.gen())

In [3]:
pip install heroes

Collecting heroes
  Downloading heroes-1.0.2.tar.gz (11 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: heroes
  Building wheel for heroes (pyproject.toml) ... done
  Created wheel for heroes: filename=heroes-1.0.2-py3-none-any.whl size=11174 sha256=1267934bd516f9a8d0b1a95ddf99e22e9149649e971c288635cbd718de3cd243
  Stored in directory: /Users/victorladeia/Library/Caches/pip/wheels/68/24/e2/76414baf1dafd8c58b52c0063df4a7c4990f5dae39cc0a6788
Successfully built heroes
Installing collected packages: heroes
Successfully installed heroes-1.0.2

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import heroes

print(heroes.gen())

Songbird

In [1]:
# Challenge - Draw a Dashed Line:

from turtle import Turtle

tim = Turtle()

for _ in range(20):
    if (_/10) % 2 == 1:
        tim.begin_fill()
    else:
        tim.end_fill()
    tim.forward(10)

:

In [1]:
from turtle import Turtle

tim = Turtle()

for _ in range(10):
    tim.forward(10)
    tim.up()
    tim.forward(10)
    tim.down()

:

In [ ]:
from turtle import Turtle, Screen
import random

tim = Turtle()

screen = Screen()

for num_of_sides in range(3, 10):
    angle = 360 / num_of_sides
    r, g, b = random.randint(0, 255), random.randint(0, 255), random.randint(0, 255)
    for side in range(num_of_sides):
        tim.pencolor((r, g, b))
        tim.forward(100)
        tim.right(angle)

In [12]:
screen.colormode(255)

In [ ]:
from turtle import Turtle, Screen
from random import choice, randint


def pick_a_direction():
    direction = choice(range(0, 4)) * 90
    tur.right(direction)

def pick_a_color():
    r, g, b = randint(0, 255), randint(0, 255), randint(0, 255)
    tur.pencolor((r, g, b))


def walk_randomly():
    pick_a_color()
    pick_a_direction()
    tur.forward(40)

    


# Defining a Screen:
screen = Screen()
screen.colormode(255)

# Creating  a Turtle:
tur = Turtle()
tur.width(10)
tur.speed(10)

while True:
    walk_randomly()

In [1]:
# Challenge - Draw multiple cicles:

from turtle import Turtle, Screen
from random import randint


def random_color():
    color = {
        "r": 0,
        "g": 0,
        "b": 0
    }
    for color_intensity in color:
        color[color_intensity] = randint(0, 255)
    return (color["r"], color["g"], color["b"])

tur = Turtle()
screen = Screen()
screen.colormode(255)
heading = tur.heading()
tur.speed(0)

while not heading == 360:
    color = random_color()
    tur.color(color)
    tur.circle(120)
    heading += 2
    tur.setheading(heading)

In [2]:
pip install colorgram.py

Collecting colorgram.py
  Downloading colorgram.py-1.2.0-py2.py3-none-any.whl (6.2 kB)
Collecting pillow>=3.3.1 (from colorgram.py)
  Downloading Pillow-10.0.0-cp311-cp311-macosx_11_0_arm64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 24.6 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pillow, colorgram.py
Successfully installed colorgram.py-1.2.0 pillow-10.0.0

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import colorgram

colors = []
for color in colorgram.extract('Day_18/Hirst_Painting/image.jpg', 10):
    colors.append((color.rgb.r, color.rgb.g, color.rgb.b))
print(colors)

[(249, 248, 248), (238, 246, 243), (246, 240, 243), (235, 241, 246), (1, 13, 31), (53, 25, 17), (219, 127, 106), (10, 105, 160), (241, 214, 69), (149, 84, 39)]

In [3]:
colors[1]

Rgb(r=238, g=246, b=243)

In [2]:
from turtle import Turtle, Screen
from random import choice

tur = Turtle()
tur.up()
tur.hideturtle()
screen = Screen()
screen.colormode(255)
x = 0
y = 0
color_list = [(235, 241, 246), (1, 13, 31), (53, 25, 17), (219, 127, 106), (10, 105, 160), (241, 214, 69), (149, 84, 39)]

tur.dot(10, (238, 246, 243))

for row_dot in range(0, 10):
    x=0
    for col_dot in range(0, 10):
        tur.setposition(x, y)
        tur.dot(10, choice(color_list))
        x += 40
    y += 40

(0.00,0.00)

# Day 19 - Instances, State, and Higher Order Functions

In [1]:
from turtle import Turtle, Screen

tim = Turtle()
screen = Screen()

def move_forward():
    tim.forward(10)


screen.listen()
screen.onkey(key="space", fun=move_forward)
screen.exitonclick()

:

## Functions as Inputs:

function_a(function_b)

In [2]:
def sum(a, b):
    return a + b

def sub(a, b):
    return a - b

def mult(a, b):
    return a * b

def div(a, b):
    return a / b

def calculator(n1, n2, func): # this is a higher order function
    return func(n1, n2)

result  = calculator(2, 3, div) # function inside other funtion

print(result)

0.6666666666666666

## Higher Order Function

Function which allows us to use other funtions inside them.

# Day 20 - Building The Snake Game - Part 1: Animation & Coordinates

# Day 21 - Building The Snake Game - Part 2: Inheritance & List Slicing

## Inheritance:

In [4]:
# How to make fish inherit attributes and methods from Animals:

class Animal:
    
    def __init__(self):
        self.num_eyes = 2
    
    def breath(self):
        print("Inhale, Exhale.")


class Fish:

    def swim(self):
        print("moving in the water...")

nemo = Fish()
nemo.swim()

moving in the water...

In [10]:
#
class Animal:
    
    def __init__(self):
        self.num_eyes = 2
    
    def breath(self):
        print("Inhale, Exhale.")

# Inheriting from  Animal:

class Fish(Animal):
    def __init__(self):
        #super().__init__()
        pass

    def swim(self):
        print("moving in water.")

#printin an Animal attribute from Fish:
nemo = Fish()

print(nemo.num_eyes)

AttributeError: 'Fish' object has no attribute 'num_eyes'

## Slicing:

In [11]:
num = [1, 2, 3, 4, 5, 6, 7]
print(num[2:])

[3, 4, 5, 6, 7]

# Day 24 - Intermediate - Files, Directories and Paths

In [2]:
file = open("Day_24/my_file.txt")
content = file.read()
content

'This line was added first.'

In [3]:
file = open("Day_24/my_file.txt")
content = file.read()
content

'This line was added first.'

In [4]:
# Once opened I'll need to close the file:
file.close()

In [6]:
with open("Day_24/my_file.txt") as file:
    content = file.read()
    print(content)

This line was added first.

Then this one was added.

## Editing Files and different Modes in open()

In [7]:
with open("Day_24/my_file.txt") as file:
    file.write("Third line.")

UnsupportedOperation: not writable

### Using Modes "w" - write & "a" - append:

In [8]:
with open("Day_24/my_file.txt", mode='w') as file:
    file.write("Third Line.")

In [11]:
with open("Day_24/my_file.txt") as file:
    print(file.read())

Third Line.

In [12]:
with open("Day_24/my_file.txt", mode='a') as file:
    file.write("Fourth Line.")
    print(file.read())

UnsupportedOperation: not readable

In [13]:
with open("Day_24/my_file.txt", mode='a') as file:
    file.write("\n\nFifth Line.")

In [14]:
with open("Day_24/new_file.txt", mode="w") as file:
    file.write("New text.")

# Day 25 - Workin with CSV Data and the Pandas Library

In [15]:
with open("Day_25/weather_data.csv") as weather_data:
    data = weather_data.readlines()
data

['day,temp,condition\n',
 'Monday,12,Sunny\n',
 'Tuesday,14,Rain\n',
 'Wednesday,15,Rain\n',
 'Thursday,14,Cloudy\n',
 'Friday,21,Sunny\n',
 'Saturday,22,Sunny\n',
 'Sunday,24,Sunny']

In [16]:
import csv

with open("Day_25/weather_data.csv") as weather_data:
    data = csv.reader(weather_data)
data

In [17]:
import csv

with open("Day_25/weather_data.csv") as weather_data:
    data = csv.reader(weather_data)
    for row in data:
        print(row)

['day', 'temp', 'condition']
['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']

In [21]:
import csv

with open("Day_25/weather_data.csv") as weather_data:
    data = csv.reader(weather_data)
    temperatures = []
    for row in data:
        if row[1] != "temp":
            temperatures.append(int(row[1]))
            print(row)

['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']

In [22]:
temperatures

[12, 14, 15, 14, 21, 22, 24]

In [25]:
import pandas

data = pandas.read_csv("Day_25/weather_data.csv")
print(data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [26]:
data["temp"]

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [27]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [28]:
data_dict = data.to_dict()

In [29]:
data_dict

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [30]:
temp_list = data.temp.to_list()

In [31]:
sum = 0
for temp in temp_list:
    sum += temp
avg = sum / len(temp_list)
avg

17.428571428571427

In [32]:
print(data.temp.mean())

17.428571428571427

In [33]:
max_value  = data.temp.max()
print(max_value)

24

### Getting a DataFrame row:

In [34]:
# printing Monday row:

mon_row = data[data["day"] == "Monday"]
print(mon_row)

      day  temp condition
0  Monday    12     Sunny

In [35]:
# printing the row where the tempereatur is maximum:

max_temp = data.temp.max()
max_temp_row = data[data.temp == max_temp]
print(max_temp_row)

      day  temp condition
6  Sunday    24     Sunny

In [43]:
monday = data[data.day == "Monday"]
monday

      day  temp condition
0  Monday    12     Sunny

In [44]:
print(monday.condition)

0    Sunny
Name: condition, dtype: object

In [45]:
monday.temp = monday.temp * 9 / 5 + 32
print(monday)

      day  temp condition
0  Monday  53.6     Sunny

/var/folders/py/hk1mztdx0rg29qyz6t7m9yw40000gn/T/ipykernel_21456/2461826420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monday.temp = monday.temp * 9 / 5 + 32

In [46]:
monday

      day  temp condition
0  Monday  53.6     Sunny

## Squirrel Data

In [47]:
import pandas as pd

squirrel_df = pd.read_csv("Day_25/2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")
squirrel_df.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [60]:
squirrel_colors = squirrel_df["Primary Fur Color"].dropna().unique()
squirrel_colors

array(['Gray', 'Cinnamon', 'Black'], dtype=object)

In [62]:
squirrel_df["Primary Fur Color"][squirrel_df["Primary Fur Color"] == squirrel_colors[0]].count()

2473

In [64]:
squirrel_colors_df = pd.DataFrame(squirrel_colors, columns=["Fur Color"])
squirrel_colors_df

  Fur Color
0      Gray
1  Cinnamon
2     Black

In [68]:
squirrel_colors_df["Count"] = squirrel_colors_df["Fur Color"].map(squirrel_df["Primary Fur Color"].value_counts())

In [69]:
squirrel_colors_df

  Fur Color  Count
0      Gray   2473
1  Cinnamon    392
2     Black    103

In [70]:
squirrel_df['Primary Fur Color'].value_counts()

Primary Fur Color
Gray        2473
Cinnamon     392
Black        103
Name: count, dtype: int64

In [81]:
dg = pd.DataFrame(squirrel_df["Primary Fur Color"].value_counts())
dg

                   count
Primary Fur Color
Gray                2473
Cinnamon             392
Black                103

In [82]:
dg

                   count
Primary Fur Color
Gray                2473
Cinnamon             392
Black                103

In [83]:
dg.reset_index(level='Standard')

KeyError: 'Requested level (Standard) does not match index name (Primary Fur Color)'

In [84]:
dg.columns = range(dg.columns.size)

In [87]:
dg.columns

RangeIndex(start=0, stop=1, step=1)

In [88]:
dg

                      0
Primary Fur Color
Gray               2473
Cinnamon            392
Black               103

In [89]:
dg[0]

Primary Fur Color
Gray        2473
Cinnamon     392
Black        103
Name: 0, dtype: int64

In [90]:
dg[0]["Primary Fur Color"]

KeyError: 'Primary Fur Color'

# Day 26 - List Comprehension


new_list = [new_item for item in list]

In [91]:
# Instead of using this syntax:

list = [1, 2, 3]
new_list = []
for n in list:
    n += 1
    new_list.append(n)
print(new_list)

[2, 3, 4]

In [92]:
# We can use the following syntax:

list = [1, 2, 3]
new_list = [n + 1 for n in list]
print(new_list)

[2, 3, 4]

In [93]:
# It's possible to work with other types of sequences:

name = "Veronica"

new_name = [n for n in name]
new_name

['V', 'e', 'r', 'o', 'n', 'i', 'c', 'a']

In [95]:
double_list = [num * 2 for num in range(1, 5)]
double_list

[2, 4, 6, 8]

In [96]:
# conditions inside a list comprehension:

names = ["Alex", "Caroline", "Beth", "Dave", "Eleano", "Freddie"]

short_names = [name for name in names if len(name) <= 4]
short_names

['Alex', 'Beth', 'Dave']

In [97]:
upper_names = [name.upper() for name in names if len(name) > 4]
upper_names

['CAROLINE', 'ELEANO', 'FREDDIE']

### Squaring Numbers

In [98]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

squared_numbers = [num ** 2 for num in numbers]
print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

### Filtering Even Numbers

In [99]:
list_of_strings = input().split(',')
result = [int(string) for string in list_of_strings if (int(string) % 2 == 0) ]
print(result)

[2, 8, 34]

### Data Overlap

In [104]:
with open("Day_26/Data_Overlap_Exercise/file1.txt") as file1, open("Day_26/Data_Overlap_Exercise/file2.txt") as file2:
    file1_data = file1.readlines()
    file2_data = file2.readlines()

    
result = [int(num.replace('\n', '')) for num in file1_data if int(num.replace('\n', '')) in [int(num2.replace('\n', '')) for num2 in file2_data]]
result


#file1 = ("Day_26/Data_Overlap_Exercise/file1.txt")

[3, 6, 5, 33, 12, 7, 42, 13]

In [106]:
# Making it more clear:
PATH = "Day_26/Data_Overlap_Exercise"

# Openinf files:
with open(f"{PATH}/file1.txt") as file_1, open(f"{PATH}/file2.txt") as file_2:
    
    # Reading files 1 and 2 lines:
    file_1_data = file_1.readlines()
    file_2_data = file_2.readlines()

# Creating lists for comparison:
list_1 = [int(num.replace('\n', '')) for num in file_1_data]
list_2 = [int(num.replace('\n', '')) for num in file_2_data]

# Getting overlaping numbers form lists 1 and 2:
result = [num for num in list_1 if num in list_2]
result

[3, 6, 5, 33, 12, 7, 42, 13]

## Dictionary Comprehension

new_dict = {new_key: new_value for item list}

In [111]:
# Generating random scores for students:
import random

names = ["Alex", "Caroline", "Beth", "Dave", "Eleano", "Freddie"]

students_scores = {student:random.randint(40, 100) for student in names}
students_scores

{'Alex': 70,
 'Caroline': 46,
 'Beth': 49,
 'Dave': 70,
 'Eleano': 70,
 'Freddie': 84}

In [112]:
# Creating a passed_students Dictionary:

passed_students = {student:students_scores[student] for student in students_scores if students_scores[student] >= 60}
passed_students

{'Alex': 70, 'Dave': 70, 'Eleano': 70, 'Freddie': 84}

## Dictionary Comprehension Exercises:

In [114]:
# With a given sentence, print a dictionary with the words sentence as keys and its lenghts as values:

sentence = input()

word_list = sentence.split()

result = {word:len(word) for word in word_list}

print(result)

{'What': 4, 'is': 2, 'the': 3, 'Airspeed': 8, 'Velocity': 8, 'of': 2, 'an': 2, 'Unladen': 7, 'Swallow?': 8}

In [118]:
# Convert a dictionary with temperatures in celsius to fahrenheit:

weather_c = eval(input())
weather_f = {day: weather_c[day] * 5/9 + 32 for day in weather_c}
print(weather_f)

{'Monday': 49.77777777777778, 'Sunday': 47.55555555555556}

In [122]:
# Convert a dictionary with temperatures in celsius to fahrenheit:

weather_c = eval(input())
weather_f = {day: temp * 9/5 + 32 for (day, temp) in weather_c.items()}
print(weather_f)

{'Monday': 35.6, 'Sunday': 68.0}

## How to Iterate Over a Pandas Dataframe

In [123]:
student_dict = {
    "student": ["Angela", "James", "Lily"],
    "score": [56, 75, 98]
}

In [125]:
# Looping through dictionaries:

for (key, value) in student_dict.items():
    print(key)

student
score

In [126]:
import pandas as pd

students_data_frame = pd.DataFrame(student_dict)
students_data_frame

  student  score
0  Angela     56
1   James     75
2    Lily     98

In [127]:
# Looping through rows of a data frame:

for (index, row) in students_data_frame.iterrows():
    print(row)

student    Angela
score          56
Name: 0, dtype: object
student    James
score         75
Name: 1, dtype: object
student    Lily
score        98
Name: 2, dtype: object

In [128]:

for (index, row) in students_data_frame.iterrows():
    print(row.student)

Angela
James
Lily

In [129]:

for (index, row) in students_data_frame.iterrows():
    print(row.score)

56
75
98